  .navbar-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row-reverse;
    font-size: calc(1px + 2vmin);
    color: white;
  }

  .topnav {
    overflow: hidden;
    background-color: #282c34;
    color: white;
  }

  .footer {
    margin-top: 800px;
    overflow: hidden;
    background-color: #282c34;
    color: white;
  }

