  .notes-page {
    padding: 80px 0;
  }

  .notes-page form {
    margin: 0 auto;
    max-width: 600px;
  }

  .notes-page h3 {
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 5px;
  }

  .notes-page Button {
    width: 200px;
    margin-left: 200px;
    margin-right: 400px;
  }