  .registerpage {
    padding: 60px 0;
  }

  .registeralert {
    margin: 0 450px;
  }

  .registerpage form {
    margin: 0 auto;
    max-width: 320px;
  }

  .registerpage button {
      margin-top: 50px;
  }